.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 19rem;
  height: 100%;
  background-color: rgb(85, 85, 85);
  box-shadow: 1px 1px 15px rgb(188, 130, 253);
  overflow: scroll;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;
  h2 {
    padding: 2rem;
    text-align: left;
  }
}

.library-songs {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1rem 1rem 1rem 1rem;
  transition: background 0.8s ease;
  img {
    width: 50%;
    border-radius: 8%;
    box-shadow: 0px 0px 0.5rem 0px black;
    object-fit: cover;
  }
  &:hover {
    background-color: rgb(188, 130, 253);
  }
}

.song-description {
  padding: 1rem 1rem 1rem 1rem;
  h3 {
    font-size: 1rem;
    padding: 0rem 0rem 0.5rem 0rem;
  }
  h4 {
    font-size: 0.8rem;
    padding-left: 0rem 0rem 0rem 0rem;
  }
}

.selected {
  background-color: rgb(139, 139, 139);
}

.active-library {
  transform: translateX(0%);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
  .library-songs {
    position: relative;
  }
}
