nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  button {
    background: white;
    border: none;
    cursor: pointer;
    outline: none;
    border: 1px solid rgb(188, 130, 253);
    box-shadow: 1px 1px 1rem rgb(188, 130, 253);
    border-radius: 8%;
    padding: 0.8rem;
    transition: transform 0.5s;
    &:hover {
      transform: scale(1.05);
      background: rgb(245, 241, 241);
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    padding-top: 1rem;
    button {
      z-index: 10;
    }
  }
}
